<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>
        landing
      </title>
      {% load static %}
      {% load bootstrap4 %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <form method="POST" action="">
      {% csrf_token%}
      <body style="background-size: cover; text-align: center; background-color: black;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div align="center">
                <img src="{% static 'imagenes/imagen1.gif' %}" class="d-block w-90" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div align="center">
                <img src="{% static 'imagenes/imagen2.gif' %}" class="d-block w-90" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div align="center">
                <img src="{% static 'imagenes/imagen3.gif' %}" class="d-block w-90" alt="...">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
        <div align="center"> 
          <button type="submit" class="btn btn-outline-info">Inicio</button>
          <br>
          <h1> {{mensage}} </h1>
        </div>
      </body>
      
    </form>
    {% bootstrap_javascript jquery='full' %}
</html>
